@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
body{
    background-color: black;
    background-image: url('45034830-B376-4FCF-B3E0-D17CCC18D8F6.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  gap: 3vw; 
  overflow: auto;
  font-size: 2vw;
  flex-direction: row;
  padding-top: 2vw;
  color: white;
  font-family: 'raleway';}
  a{
    text-decoration: none;
    color: white;
    position: relative;
    padding: 0 10px;
}
a:hover{
    color: #FA5F55;}
    .container{
      background-image: url('45034830-B376-4FCF-B3E0-D17CCC18D8F6.jpeg');
    
      background-size: cover;}

   

  h1{
    color: rgba(238, 238, 238, 0.982);
    font: bold;
  
    text-align: center;
  }
  h1:hover{
    color: #FA5F55;
  }
  .aboutme{
    
    font-family: 'raleway';
    padding: 20px;
    width: 90%;
    margin-left: 50px;
    margin-top:  60px;
    border: 6px rgba(255, 255, 255, 0.085); solid;
    background-color: rgba(255, 255, 255, 0.085);
    border-radius: 50px;

  }
  .personal{
    font-family: 'raleway';
    font-size: 23px;
    position: absolute;
    right: 300px;
    top: 250px;
  }
  .competences{
    text-align: left;
    font-family: 'raleway';
    font-size: 17px;
    border: 6px solid white ;
    border-radius: 50px;
    padding: 20px;
    width: 80%;
    margin-left: 150px;
    margin-top:  50px;
  }
  h3{
    color: #FA5F55;
    text-decoration: underline;
    font-size: 18px;
  }
  .row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  
  
  .card-02{
    background: #f5f5f531;
    position: relative;
    flex: 1;
    max-width: 660px;
    height: 500px;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 50px;
    
  }
  
  
  
  @media (max-width:800px){
    .card-01{
      flex: 100%;
      max-width: 600px;
    }
  
    .card-02{
      flex: 100%;
      max-width: 600px;
    }
  
    .card-03{
      flex: 100%;
      max-width: 600px;
    }
  }
 
  





